### Bag of words

In [84]:
sent1 = 'It is good practice for us.'
sent2 = 'It was also good to know about it.'

In [110]:
import pandas as pd
from nltk.tokenize import word_tokenize
s1 = word_tokenize(sent1.lower())
s2 = word_tokenize(sent2.lower())
s1

['it', 'is', 'good', 'practice', 'for', 'us', '.']

In [111]:
s3 = s1+s2
s3 = list(set(s3))
type(s3)

list

In [112]:
df = pd.DataFrame(columns=s3)
cols = df.columns
a = [s1.count(col) for col in cols]  # col[0] to get the string from tuple
b = [s2.count(col) for col in cols]
df.loc[0] = a
df.loc[1] = b
df

   practice  good  know  was  .  to  is  us  for  about  it  also
0         1     1     0    0  1   0   1   1    1      0   1     0
1         0     1     1    1  1   1   0   0    0      1   2     1

# Count vectorizer

In [126]:
from sklearn.feature_extraction.text import CountVectorizer

cvt = CountVectorizer()
new_data = cvt.fit_transform([sent1,sent2])
new_data.toarray

<bound method _cs_matrix.toarray of <Compressed Sparse Row sparse matrix of dtype 'int64'
	with 13 stored elements and shape (2, 11)>>

In [123]:
features = cvt.get_feature_names_out()

In [127]:
df = pd.DataFrame(new_data.toarray(), columns=features)
df

   about  also  for  good  is  it  know  practice  to  us  was
0      0     0    1     1   1   1     0         1   0   1    0
1      1     1    0     1   0   2     1         0   1   0    1

In [131]:
sent3 = "It was about goof practice."
new_data = cvt.fit_transform([sent1, sent2, sent3])
df = pd.DataFrame(new_data.toarray(), columns=cvt.get_feature_names_out())
df

   about  also  for  good  goof  is  it  know  practice  to  us  was
0      0     0    1     1     0   1   1     0         1   0   1    0
1      1     1    0     1     0   0   2     1         0   1   0    1
2      1     0    0     0     1   0   1     0         1   0   0    1