In [1]:
sent1 = 'It is good practice for us.'
sent2 = 'It was also good to know about it.'

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
tfidf = TfidfVectorizer()

In [4]:
new_text = tfidf.fit_transform([sent1, sent2])

In [5]:
new_text.toarray()

array([[0.        , 0.        , 0.44665616, 0.31779954, 0.44665616,
        0.31779954, 0.        , 0.44665616, 0.        , 0.44665616,
        0.        ],
       [0.36439074, 0.36439074, 0.        , 0.25926702, 0.        ,
        0.51853403, 0.36439074, 0.        , 0.36439074, 0.        ,
        0.36439074]])

In [9]:
import pandas as pd

df = pd.DataFrame(new_text.toarray(), columns=tfidf.get_feature_names_out())
df

      about      also       for  ...        to        us       was
0  0.000000  0.000000  0.446656  ...  0.000000  0.446656  0.000000
1  0.364391  0.364391  0.000000  ...  0.364391  0.000000  0.364391

[2 rows x 11 columns]

In [10]:
tfidf = TfidfVectorizer(stop_words='english')

In [11]:
new_text = tfidf.fit_transform([sent1, sent2])

In [12]:
df = pd.DataFrame(new_text.toarray(), columns=tfidf.get_feature_names_out())

In [13]:
df

       good      know  practice
0  0.579739  0.000000  0.814802
1  0.579739  0.814802  0.000000

Reading sample sentences

In [15]:
file_name = '../input/sample_sentences.txt'

with open(file=file_name, mode='r') as file:
    data = file.readlines()

data

['Can you please pass me the salt?\n',
 'I will meet you at the park in 30 minutes.\n',
 'I need to finish this work before the deadline.\n',
 'What time does the movie start tonight?\n',
 'Please do not forget to lock the door when you leave.']

In [29]:
tfidf = TfidfVectorizer()
new_text = tfidf.fit_transform(data)
new_text

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 42 stored elements and shape (5, 34)>

In [30]:
df = pd.DataFrame(new_text.toarray(), columns=tfidf.get_feature_names_out())
df

         30        at    before  ...      will      work       you
0  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.290180
1  0.360948  0.360948  0.000000  ...  0.360948  0.000000  0.241731
2  0.000000  0.000000  0.381303  ...  0.000000  0.381303  0.000000
3  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
4  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.223518

[5 rows x 34 columns]

In [31]:
tfidf = TfidfVectorizer(stop_words='english')
new_text = tfidf.fit_transform(data)

In [32]:
df = pd.DataFrame(new_text.toarray(), columns=tfidf.get_feature_names_out())
df

    30  deadline      does  door  ...     start      time   tonight  work
0  0.0       0.0  0.000000   0.0  ...  0.000000  0.000000  0.000000   0.0
1  0.5       0.0  0.000000   0.0  ...  0.000000  0.000000  0.000000   0.0
2  0.0       0.5  0.000000   0.0  ...  0.000000  0.000000  0.000000   0.5
3  0.0       0.0  0.447214   0.0  ...  0.447214  0.447214  0.447214   0.0
4  0.0       0.0  0.000000   0.5  ...  0.000000  0.000000  0.000000   0.0

[5 rows x 19 columns]